/*Main Page*/

.orange-text {color: orange;}

.page-sources {display:flex;
}

 .source {
list-style: none;
background-color:rgb(186, 161, 253);
border: 2px;
padding:0.5rem;
width:30%;
margin: 2rem;
text-decoration:none;}

.Reasons {
  list-style: none;}

h1 {
color:rgb(138, 27, 202);
text-decoration: underline;
text-align:center;}

h2 {
  font-size:32px}

img {
width:400px;
text-align:center;
border-color:rgb(138, 27, 202);
border-width:8px;
border-style:double;
border-radius: 8px;
}


:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  text-align:center;
  background-image: url(https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/5516015/600/400/m2/fpnw/wm0/pastel-painting-.jpg?1544153651&s=b99ed5771f85096d34d6abec930518f3);

}

p {margin-left:5rem;
margin-right:5rem;}




/*Community*/

#communitypic {border:none;
width:50%;}

#communitytext {margin-bottom:4rem;}

/*AboutACTB*/


/*Get Involved*/
#get-involved {border:none;}

/*Contact Us*/
#contactadd {
  color:rgb(35, 148, 105);
  text-align:center;
  font-style:italic;
font-size: 20px;
margin-top:3rem;}

  #artaddress {text-align:center;
}

#suggestion {margin-top:6rem;}


